/* Home Banner Area css
============================================================================================ */

.home_banner_area {
  background-image: linear-gradient(to right, #0575E6, #8dc63f), url(../img/medicine_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;
  }

  @media (max-width: 768px) {
    width: 140% !important;
  }

  .banner_inner {
    .fullscreen {
      @media (max-width: 767px) {
        height: 394px !important;
      }
    }
  }

  &.overlay {
    &:after {
      background: #000;
      opacity: .2;
    }
  }
}

.banner-bottom {
  margin-top: -340px;

  @media (max-width:1680px) {
    margin-top: -392px;
  }

  @media (max-width:1500px) {
    margin-top: -421px;
  }

  @media (max-width:1200px) {
    margin-top: -449px;
  }

  @media (max-width:1024px) {
    margin-top: -555px;
  }

  @media (max-width:991px) {
    margin-top: -395px;
    border-bottom: 1px solid #eeeeee;
  }

  .video-popup {
    padding-left: 25%;

    @media (max-width:1024px) {
      display: none !important;
    }

    .watch {
      color: #fff;
      margin-top: 25px;
      padding-left: 15px;

      h6 {
        font-size: 16px;
        font-family: $primary-font;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
      }
    }
  }

  .banner_content {
    color: #fff;
    opacity: 0;
    padding: 90px 70px;

    @media (max-width:991px) {
      padding: 80px 70px;
    }

    @media (max-width:991px) {
      padding: 80px 30px;
    }

    .top-text {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $title-color;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 42px;
    }

    p {
      margin-bottom: 0;
    }

    .banner-btn {
      margin-left: 40%;

      @media (max-width:1500px) {
        margin-left: 25%;
      }

      @media (max-width:1380px) {
        margin-left: 10%;
      }

      @media (max-width:1200px) {
        margin-left: 0;
      }

      @media (max-width:991px) {
        margin-top: 30px;
      }

      .primary-btn {
        @media (max-width:1190px) {
          padding: 0 20px;
        }

        @media (max-width:1024px) {
          padding: 0 10px;
        }

        @media (max-width:991px) {
          padding: 0 30px;
        }
      }
    }
  }
}

// common banner css // 
.home_banner_area.common-banner:not(.Medicc):not(.Medd):not(.faqBanner):not(.ContactBanner):not(.Qui) {
  background-image: url(../img/RendezBanner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }

}

.Medicc {
  background-image: url(../img/gestion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;


  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }
}

.Medd {
  background-image: url(../img/DoctorBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }
}

.faqBanner {
  background-image: url(../img/faqBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }
}

.ContactBanner {
  background-image: url(../img/contactBanner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }
}

.Qui {
  background-image: url(../img/pill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: color;
  z-index: 1;

  @media (max-width: 992px) {
    width: 120%;

    .banner_inner {
      .fullscreen {
        height: 90px !important;
      }
    }
  }

  .banner_inner {
    .fullscreen {
      height: 440px !important;
    }
  }
}

.banner-bottom.common-bottom-banner {

  margin-top: -316px;

  @media (max-width:1680px) {
    margin-top: -392px;
  }

  @media (max-width:1500px) {
    margin-top: -342px;
  }

  @media (max-width:1200px) {
    margin-top: -372px;
  }

  @media (max-width:1024px) {
    margin-top: -400px;
  }

  @media (max-width:991px) {
    margin-top: -375px;
    border-bottom: 1px solid #eeeeee;
  }
}

.banner_content {

  .page-link-wrap {
    margin-left: 35%;

    @media (max-width:1680px) {
      margin-left: 15%;
      min-width: 230px;
    }

    @media (max-width:1440px) {
      margin-left: 10%;
    }

    @media (max-width:1380px) {
      margin-left: 0;
    }

    // @media (max-width:1200px){

    // }
    @media (max-width:991px) {
      margin-top: 30px;
    }

    .page_link {
      background: $primary-color;
      text-align: center;
      line-height: 50px;
      color: #fff;
      display: inline-block;
      padding: 0 20px;
      box-shadow: $box_shadow_primary;

      @media (max-width:1200px) {
        padding: 0 15px;
      }

      a {
        font-size: 14px;
        color: #fff;
        font-family: $primary-font;
        margin-right: 30px;
        position: relative;
        text-transform: capitalize;

        &:before {
          content: "\f178";
          font: normal normal normal 14px/1 FontAwesome;
          position: absolute;
          right: -25px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          margin-right: 0px;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

/* End Home Banner Area css
============================================================================================ */